/*
 * colors
 */
$space-cadet: #2B2D42;
$cool-gray: #8D99AE;
$anti-flash-white: #EDF2F4;
$red-pantone: #EF233C;
$fire-engine-red: #D90429;
$custom-gold: #ffb700;
$action-blue: #3a86ff;
$green-new: #38b000;

/*
 * fonts
 */
@font-face {
  font-family: 'Univers LT Pro';
  src: url('/fonts/UniversLTPro.otf');
}
